<!DOCTYPE html>
<%- include('./fragments/header.ejs') %>

    <main>
        <h2><%= __('main.content') %></h2>
        <p><%= __('main.text') %></p>
    </main>
<%- include('./fragments/footer.ejs') %>
</html>